extends layout

block content
  h1= title
  p Welcome to #{title}

  // WRAPPER
  #wrapper

    // NEWEST LISTING
    h2 Newest Listing
    #recruitmentList
      table
        thead
          th Guild Name
          // fill out the rest of the listing headers here
          th Contact
          th Region
          th Server
          th Faction
          th Classes
          th Raid Type
          th Raid Times
          th Current Tier Progress
          th Discord Link
          th Website
          th Short Description (280 characters max)
          
        tbody
    // /NEWEST Listing
  // /WRAPPER
